/*loogin-admin*/
.halaman {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-container {
    position: absolute;
    background: #fff;
    padding: 20px;
    margin-top: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
}

.icon {
    font-size: 4em;
    color: #e67e22; 
    margin-bottom: 20px;
}

.login-container h2, .register-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.kotak {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.filset legend {
    padding: 0 10px;
    font-weight: bold;
}

button.kotak {
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.kotak:hover {
    background-color: #DC5F00;
}

.artikel {
    margin-bottom: 20px;
}

.artikel fieldset {
    margin-bottom: 20px;
}

/* index utama*/
.index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #DC5F00;
}

.button i {
    margin-right: 8px;
}


/*style css header dan footer*/
